<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bitandik.labs.firebasedrawing" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".FirebaseDrawingApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.bitandik.labs.firebasedrawing.activities.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.bitandik.labs.firebasedrawing.activities.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="<FABRIC API KEY>" />

        <activity
            android:noHistory="true"
            android:name="com.bitandik.labs.firebasedrawing.activities.ColorPickerActivity"
            android:label="@string/title_activity_color_picker" >
        </activity>
    </application>

</manifest>
